<div class="row">
  <div class="col-sm-6">
      <a href="" [routerLink]="['/']" class="btn btn-success">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back Dashboard
      </a>
    </div>
<div class="col-sm-6">
  
  <h4><i class="fa fa-cog" aria-hidden="true"></i> Settings</h4><hr>
  <label class="checkbox-inline"><input type="checkbox" value=""> Open Register Page</label>
  <label class="checkbox-inline"><input type="checkbox" value=""> Enable Salary</label>
  <label class="checkbox-inline"><input type="checkbox" value="">Editable Salary</label>
</div>
</div>
