<div class="row">
  <div class="col-sm-6">
      <a href="" [routerLink]="['/']" class="btn btn-success">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back Dashboard
      </a>
    </div>
<div class="col-sm-6">
  
  <h4><i class="fa fa-cog" aria-hidden="true"></i> Settings</h4><hr>
 <form (submit)="submitSettings()">
      <label class="checkbox-inline">
        <input type="checkbox" value="" 
        [checked]="settings.isRegisterOpen"
        (change)="settings.isRegisterOpen =! settings.isRegisterOpen"
        name="isRegisterOpen"> Open Register Page
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value=""
        [checked]="settings.disabledSalary"
        (change)="settings.disabledSalary =! settings.disabledSalary"
        name="disabledSalary">
         Enable Salary</label>
      <label class="checkbox-inline">
        <input type="checkbox" value=""
        [checked]="settings.isSalaryEdiable"
        (change)="settings.isSalaryEdiable =! settings.isSalaryEdiable"
        name="isSalaryEdiable"> 
        Editable Salary</label>
      <button type="submit" class="btn btn-outline-secondary">Save Settings</button>
  </form> 
  
</div>
</div>
